@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');


html {
  height: 100%;
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ECF4E6;
  display: flex;
  align-items: center !important;
  justify-content: center;
  color: #030502;
  height: 100vh;
}

.content{
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px solid rgba(3, 5, 2, 0.07);
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(3, 5, 2, 0.07);
  width: 70%;
  min-width: 320px;
  max-width: 430px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.username {
  color: #596250;
}

#profile {
  display: flex;
  padding: 6px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #ECF4E6;
  background: #FFF;
  box-shadow: 0px -2px 3px 0px rgba(89, 98, 80, 0.05) inset, 0px -6px 8px 0px rgba(89, 98, 80, 0.02) inset, 0px 1px 2px 0px rgba(3, 5, 2, 0.04), 0px 0px 1px 0px rgba(3, 5, 2, 0.09);
}

input[type=text] {
  display: flex;
  width: 100%;
  height: 2.8rem;
  padding: 12px 48px 12px 12px;
  border-radius: 8px;
  border: 1px solid rgba(89, 98, 80, 0.09);
  background: #FAFBF9;
  box-shadow: 1px 1px 3px 0px rgba(3, 5, 2, 0.15) inset;
}

input[type=text]::placeholder {
  color: rgba(3, 5, 2, 0.60);;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

input[type=text]:focus {
  outline: 3px solid #596250;
  box-shadow: none;
}

.new-task {
  display: flex;
  position: relative;
}

#submit {
  position: absolute;
  top: 12px;
  left: calc(100% - 1.4rem - 12px);
  display: flex;
  width: 1.4rem;
  height: 1.4rem;
  padding: 4px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid rgba(89, 98, 80, 0.07);
  background: #ECF4E6;
  box-shadow: 0px -2px 2px 0px rgba(89, 98, 80, 0.06) inset, 0px 2px 3px 0px rgba(255, 255, 255, 0.10) inset, 0px 1px 2px 0px rgba(3, 5, 2, 0.04);
  transition: all .2s ease-in-out;
}

#submit:hover {
  scale: 1.25;
  cursor: pointer;
}

#submit:active {
  background: #ECF4E6;
  box-shadow: none;
}

.tab-container {
  display: flex;
  width: 100%;
  border-radius: 6px;
  background: #ECF4E6;
}

.tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #596250;
  height: 2.4rem;
}

.tab:hover {
  background: rgba(0, 0, 0, 0.03);
}

.tab.active {
  color: #030502;
  border: 1px solid #ECF4E6;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(3, 5, 2, 0.04), 0px 1px 3px 0px rgba(3, 5, 2, 0.09), 0px -2px 4px 0px rgba(89, 98, 80, 0.05) inset, 0px -6px 9px 0px rgba(89, 98, 80, 0.02) inset;
}

.task-list {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: .8rem;
}

.scrollable {
  max-height: 24rem;
  overflow-y: scroll;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 8px 8px 8px 14px;
  border: 1px solid rgba(89, 98, 80, 0.08);
  background: #FFF;
  box-shadow: 0px -2px 3px 0px rgba(89, 98, 80, 0.04) inset, 0px 1px 3px 0px rgba(3, 5, 2, 0.09);
}

.task p {
  line-height: 20px;
}

.task p:hover {
  color: #596250;
}

.task:hover {
  
  background: rgba(236, 244, 230, 0.25);
}

.task:active {
  box-shadow: none;
}

label {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.task-options {
  border-radius: 6px;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  position: relative;
}

.task-options:hover {
  background: rgba(236, 244, 230, 0.7);
}


/* first 3 task items in view, options menu will open downwards */
.open-downwards .task-options .options-menu {
  top: 100%;
  right: 0;
}

.open-leftwards .task-options .options-menu {
  right: 100%;
}

/* last 3 task items in view, options menu will open upwards */
.open-upwards .task-options .options-menu {
  bottom: 100%;
  right: 0;
}


.options-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid rgba(3, 5, 2, 0.07);
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(3, 5, 2, 0.07),0px 3px 6px 0px rgba(3, 5, 2, 0.03);
  overflow: hidden;
  z-index: 2;
  transition: all .3s ease-in-out;
}

.option {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  background: #fff;
  min-width: 160px;
  align-items: center;
}

.option:hover {
  background: rgba(236, 244, 230, 0.3);
}

div.delete {
  color: #C64E3D;
}

.checked {
  text-decoration: line-through;
  color: #596250;
}

.user-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 20px 0px 0px 20px;
  align-items: flex-end;
  border: 1px solid rgba(3, 5, 2, 0.07);
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(3, 5, 2, 0.07);
  height: 100%;
}

.user-menu span {
  display: flex;
  padding: 8px;
  align-items: center;
  border: 1px solid rgba(3, 5, 2, 0.07);
  border-radius: 8px;
  width: fit-content;
}

.user-menu div {
  /* background: blue; */
  padding: 1rem;
  display: flex;
  gap: 8px;
  width: 100%;
  border-radius: 8px;
}

.user-menu-option:hover {
  background: rgba(236, 244, 230, 0.9);
  cursor: pointer;
}
